<h1><%= @recipe.name %></h1>
  <br>
  </br>
  <h2>Ingredients:</h2><br>
  <p><% arr = @recipe.ingredients.split(",") %></p>
  <p><% arr.each do |ingr| %></p>
  <p><%= ingr %></p>
  <p><% end %></p>
  <br>
  <h2>Instructions:</h2><br>
  <p><%= @recipe.instructions %></p></br>
  <h2>Notes:</h2><br>
  <p><%= @recipe.notes %></p></br>


<div class="btn-group">
  <form action="/profile" method=get>
    <input type="submit" class="button" value="My Profile"/>
  </form>
  <form action="/logout" method=get>
    <input type="submit" class="button" value="Logout"/>
  </form>
  <p><% if @recipe.user_id == session[:user_id] %>
  <a href="/recipes/<%= @recipe.id %>/edit">Edit Your Recipe</a>
    <% else %>
  <a href="/recipes/<%= @recipe.id %>/makeit">Make it Your Own</a>
    <% end %></p>

  </div>






